body, html, #wrapper{
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

#wrapper{
    display:grid;
    grid-template-rows: 50px 1fr 150px;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
}

#header{
    grid-area: header;

    display:grid;
    grid-template-columns: 1fr 1fr;

    font-weight: lighter;

    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

#header-left{
    display: flex;
    justify-content: flex-start;
}

#header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#dot-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;

    width: 20px;
    height: 20px;

    padding: 3px;

    margin-left: 20px;
    margin-right: 20px;

}

.dot{
    border-radius: 50%;
    background-color: rgb(77, 77, 77);

    width: 70%;
    height: 70%;
}


#avatar{
    border-radius: 50%;
    margin:5px;
}

#search{
   grid-area: main; 

   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: center;

   padding-top: 25%;
}

form{
    width: 75%;
}

#textbar{
    border-radius: 25px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;

    height: 45px;
    width: 100%;

    margin-top: 25px;

}

i{
    z-index: 2;
    padding: 10px;
    min-width: 40px;
    
    float: left;
    position: relative;

    margin-top: -40px;
    margin-left: 10px;

    opacity: 50%;
}

#buttons{
    display: flex;
    justify-content: center;
    color: #222;
}

.button{
    background-color: rgb(247, 245, 245);

    border-style: none;
    border-radius: 5px;

    height: 40px;

    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#footer{
    grid-area: footer;

    display:grid;
    grid-template-rows: 1fr 1fr;

    background-color: #f8f9fa;

    max-height: 150px;
}

#environmental{
    display: flex;
    justify-content: center;
}

#leaf{
    width: 15px;
    height: 15px;
}

#footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer-left{
    display: flex;
    justify-content: flex-start;
}

#footer-right{
    display: flex;
    justify-content: flex-end;
}

p{
    color: #222;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
}

